<div id="profile-container">
	<section id="profile" class="full-height-wrapper row">
		<div class="full-height-container">
			<div class="large-6 columns">
				<div class="profile-picture">
					<div class="profile-plax-wrapper">
						<div class="profile-plax-background">
							<img class="plax background" src="/img/profile-background.png"/>
							<img class="plax moon" src="/img/profile-moon.png"/>
							<img class="plax cloud-1" src="/img/profile-cloud-1.png"/>
							<img class="plax cloud-2" src="/img/profile-cloud-2.png"/>
							<img class="plax field background" src="/img/profile-field.png"/>
						</div>
						<div class="profile-plax-picture">
							<img class="profile-picture-img" alt="Profile picture" src="/img/profile.png" style="position: relative;"/>
						</div>
					</div>
					<div class="triangle triangle-up"></div>
					<div class="triangle triangle-down"></div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="profile-info">
					<h1>{{ profile.name }}</h1>
					<table class="large-12 columns">
						<tbody>
							<tr>
								<td title="Location" class="bullet bullet-location"></td>
								<td>{{ profile.location }}</td>
							</tr>
							<tr>
								<td title="Email" class="bullet bullet-email"></td>
								<td>{{ profile.email }}</td>
							</tr>
							<tr>
								<td title="About" class="bullet bullet-about"></td>
								<td>{{ profile.about|raw }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>