<section id="profile" class="full-height-wrapper row">
<div class="full-height-container">
	<div class="large-6 columns">
		<div class="profile-picture">
			<div class="triangle triangle-up"></div>
			<img src="/img/profile.png"/>
			<div class="triangle triangle-down"></div>
		</div>
	</div>
	<div class="large-6 columns">
		<div class="profile-info">
			<h1>Antonio Cambados</h1>
			<table class="large-12 columns">
				<tbody>
					<tr>
						<td title="Location" class="bullet bullet-location"></td>
						<td>O Grove, Pontevedra, Spain</td>
					</tr>
					<tr>
						<td title="Email" class="bullet bullet-email"></td>
						<td>undisclosed.email@mailprovider.com</td>
					</tr>
					<tr>
						<td title="About" class="bullet bullet-about"></td>
						<td>
							<p>Hi! I am a web programmer. I create web applications based on <strong>HTML5 standards</strong>.</p>
							<p>This web application is based on the <strong>Slim framework</strong> for PHP, and I have used things like Sass, Foundation, Modernizr and Twig.</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</section>