<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<body>
		<h1>Simple Slim example</h1>
		<p>This is being rendered from a <strong>Twig</strong> template.</p>
		<p>Last friday was &quot;{{ date|date('Y-m-d') }}&quot;.</p>
	</body>
</html>
