<!DOCTYPE html>
<html class="no-js">
	<head>
		<!-- Metas -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width">
		<title>{{ title ? title : 'Simple Slim example' }}</title>
		<!-- Styles -->
		<link rel="stylesheet" href="/css/style.css">
		{% block head_styles %}{% endblock %}
		<!-- Scripts -->
		<script src="/js/vendor/custom.modernizr.js"></script>
		{% block head_scripts %}{% endblock %}
	</head>
	<body>
		<div class="row">
			<div class="large-12 columns">
				{% block content %}{% endblock %}
			</div>
		</div>
		<script src="/js/vendor/jquery.min.js"></script>
		<script src="/js/vendor/foundation.min.js"></script>
		<script src="/js/vendor/superscrollorama/greensock/TweenMax.min.js"></script>
		<script src="/js/vendor/superscrollorama/greensock/TimelineLite.min.js"></script>
		<script src="/js/vendor/superscrollorama/jquery.superscrollorama.js"></script>
		<script src="/js/main.js"></script>
		{% block body_scripts %}{% endblock %}
	</body>
</html>
