// Layout

/**
 * Background
 */
body {
 	background-position: top center;
 	background-repeat: no-repeat;
 	background-image: url('/img/background.png');
}

/**
 * Sections
 */
.full-height-wrapper {
	display: table;

	.full-height-container {
		display: table-cell;
		vertical-align: middle;
		padding: 20px 0;
	}
}